{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style type="text/css">
    .alert{
        height: 40px;
        display: flex;
        justify-content: center;
    }
    .alert svg{
        width: 20px;
    }    
    .text{
        margin-left: 10px;
    }
</style>

<div class="col-12">
    <br>
    <h2>Update Book</h2>
    <hr>

    {% for message in messages %}
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div class="text">
                {{ message }}
            </div>
        </div>
    {% endfor %}


    <form method="post">
        {% csrf_token %}
        {{ book_form | crispy }}
        <br>

        <div class="copies">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="keep_changes">
                <label class="form-check-label" for="flexSwitchCheckDefault">Do you want to keep these changes</label>
            </div>
        </div>

        <hr>
        <div class="d-grid gap-2">
            <input class="btn btn-primary" type="submit", value="Upload", name="done">
        </div>
    </form>

</div>

{% endblock content %}