{% extends 'base.html' %}

{% block content %}

<style type="text/css">
    .alert{
        height: 40px;
    }
    .alert svg{
        width: 20px;
    }
    .alert svg{
        margin-left: 40%;
    }
    .text{
        margin-left: 10px;
    }
    .notification{
        background-color: #fdfdfd;
        height: 500px;
        width: 100%;
        border-radius: 6px;
        box-shadow: 0 4px 28px rgba(123,151,158,.25);
        border: 1px solid #d6dee1;
        padding: 1rem;
        overflow: scroll;
    }
    .notification li{
        list-style: none;
    }
    .notification-head{
        font-size: 20px;
        text-decoration: underline;
    }
    .heading{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    </style>


    <div class="heading">
        <h2>Notifications</h2>

        {% if notify %}
        <a href="{% url 'core:notification_clear' %}">
            <button class="btn btn-primary">
                Clear all
            </button>
        </a>
        {% else %}
            <a href="">
                <button class="btn btn-secondary">
                    Clear all
                </button>
            </a>
        {% endif %}

    </div>


    {% for message in messages %}
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div class="text">
            {{ message }}
        </div>
    </div>
    {% endfor %}


    
    <hr>

    {% if notify %}
        <div class="notification">
            {% for note in notify reversed %}
                <ul>
                    <li>
                        <div class="notification-head">
                            {{ note.heading }}
                        </div>
                        
                        {{ note.message }}
                        <br>

                        {{ note.date_created }}
                        <hr>
                    </li>
                </ul>
            {% endfor %}
        </div>
    {% endif %}

{% endblock content %}
