{% extends 'base.html' %}

{% block content %}

<style type="text/css">
    .notification li{
        list-style: none;
    }
    .notification-head{
        font-size: 20px;
        text-decoration: underline;
    }
</style>

    <h1>Notifications</h1>
    <hr>

    <div class="notification">
        {% for note in notify reversed %}
            <ul>
                <li>
                    <div class="notification-head">
                        {{ note.heading }}
                    </div>
                    
                    {{ note.message }}
                    <br>

                    {{ note.date_created }}
                    <hr>
                </li>
            </ul>
        {% endfor %}
    </div>


{% endblock content %}
